@font-face {
    font-family: "Bebas-Bold";
    src: url("../fonts/BebasNeue-Bold.otf");
}

@font-face {
    font-family: "Helvetica-Bold";
    src: url("../fonts/HelveticaNeue-Bold.otf");
}

@font-face {
    font-family: "Helvetica-Light";
    src: url("../fonts/HelveticaNeue-Light.otf");
}

@font-face {
    font-family: "Helvetica-Medium";
    src: url("../fonts/HelveticaNeue-Medium.otf");
}

@font-face {
    font-family: "Helvetica-Medium-Italic";
    src: url("../fonts/HelveticaNeue-MediumItalic.otf");
}

@font-face {
    font-family: "Helvetica-Regular";
    src: url("../fonts/HelveticaNeue-Regular.otf");
}